.contact-wrapper {
      display: flex; 
      flex-direction: row;
      position: relative;
}
.contact-section {
      background: lightgray;
      width: 55%;
      padding: 5% 5% 0 5%;
}

.contact-text a,
.contact-text p {
      padding: 5% 5% 0 10%;
}

.image-box {
      width: 45%;
}

.contact-pic {
      display: block;
      min-height: 100%;
      min-width: 100%;
}



.contact-title {
      position: absolute;
      top: -21%;
      right: 8%;
}

.social-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-links ul li {
      padding: 10% 5%;
}

.social-links i {
    @include base-font(40);
    color: $black;
}






