.contact-wrapper {
      display: flex; 
      flex-direction: row;
      margin: 0 auto; 
      position: relative;
}
.contact-section {
      background: lightgray;
      width: 55%;
      padding: 5% 5% 0 5%;
}

.contact-text a,
.contact-text p {
      padding: 5% 5% 0 10%;
}

.contact-pic {
      width: 50%;
}

.contact-title {
      position: absolute;
      top: -19%;
      right: 10%;
}

.social-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-links ul li {
      padding: 10% 5%;
}

.social-links i {
    @include base-font(40);
    color: $black;
}






