.footer-section {
    background: $dark-pink;
    padding: 1% 0;
    color: $white;
    text-align: center;
}



p.footer-text {    
    letter-spacing: 2.5px;
    font-family: $headline-font;
}

p.photo-credit {
    @include base-font(12);

}

