.footer-section {
    background: $dark-pink;
}



.footer-text {
    @include base-font(18);
    color: $white;
    text-align: center;
    letter-spacing: 2.5px;
    font-family: $headline-font;
    padding: 2%;
}

.legal {
    text-align: center;
}