//GLOBAL STYLES
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, arial, sans-serif;
//   overflow: hidden;
}


//LAYOUT STYLES
.content-wrapper {
   max-width: 1280px;
   position: relative;
   width: 90%;
   margin: 0 auto;
}

img {
    max-width: 100%;
}

// GENERAL STYLES

a {
    text-decoration: none;
    color: $black;
    font-family: Helvetica Neue, arial, sans-serif;

}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    margin: 0;
    padding: 20px;
    @include base-font(20);
    font-family: Helvetica Neue, arial, sans-serif;
    line-height: 1.6;
}

i {
    @include base-font(70);
    color: $black;
}

//TITLES
h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    font-family: Helvetica Neue, arial, sans-serif;
    @include base-font(18);
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $black;
    padding-bottom: 2%;         
}
    
    
h2 {
    font-family: $headline-font;
    font-weight: 400;
    @include base-font(45);
    color: $black;

    .amp {
    @include base-font(60);
    color: $dark-pink;
    }
}


h3 {
    @include base-font(160);
    text-align: center;
    color: $dark-pink;
}

h3.period::after {
    content: ".";
    font-family: $headline-font;
}


.project-title {
    color: $black;
    @include base-font(27);
    font-family: $headline-font;
    text-align: center;
    padding: 5% 0;
    font-weight: lighter;
}

.email-address {
    @include base-font(36);
    font-family: $headline-font;
    color: $red;
}

.at {
    @include base-font(60);
    color: $grey;
}

.skills {
    @include base-font(12);
    padding: 0 2%;
    text-align: center;
}

.tagline{
    font-weight: bold;

}
