//GLOBAL STYLES
html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, arial, sans-serif;
//   overflow: hidden;
}


//LAYOUT STYLES
.content-wrapper {
   max-width: 1080px;
   position: relative;
   width: 80%;
   margin: 0 auto;
}


img {
    max-width: 100%;
}

// GENERAL STYLES

fieldset {
   border: none;
}

label {
   cursor: pointer;
}

a {
    text-decoration: none;
    color: $black;
}

li {
    list-style: none;
}

p {
    margin: 0;
    padding: 20px;
    @include base-font(20);
}

i {
    @include base-font(70);
    color: $black;
}

//TITLES
h1, h2, h3, h4 {
    margin: 0;
}

h3 {
    @include base-font(150);
    text-align: center;
    color: $dark-pink;
}



.project-title {
    color: $black;
    @include base-font(27);
    font-family: $headline-font;
    text-align: center;
    padding: 5% 0;
}
