header {
    height: 95vh;
    background: lightgray;
    position: relative;

    h1 {
        font-family: Helvetica Neue, arial, sans-serif;
        @include base-font(20);
        letter-spacing: 3px;
        text-transform: uppercase;
        color: $black;
        padding-bottom: 2%;         
    }
    
    
    h2 {
        font-family: $headline-font;
        font-weight: 400;
        @include base-font(45);
        color: $black;

        .amp {
        @include base-font(60);
        color: $burgundy;
        }
    }

    .hero-section {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    

    



}





