header {
    height: 95vh;
    background: lightgray;
    position: relative;

    

    .hero-section {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

}





