//BREAKPOINT - 1224PX OR SMALLER
@media only screen and (max-width: 1224px) {
    .about-title {
        top: -25.5%;
    }

    .work-title {
        top: -22%;
        right: 0;
    }

    .skills-title {       
        top: -30%;
    }

    .contact-title {
        top: -27%;
        right: 7%;
    }
}

//BREAKPOINT - 1024PX OR SMALLER
@media only screen and (max-width: 1024px) {
    .about-title {
        top: -26.5%;
    }

    .work-title {
        top: -7.5%;
        right: 0;
    }
    .row-1,
    .row-2 {
        flex-direction: column;
    }
    .project-container {
        width: 100%;
    }

    .skills-title {       
        top: -34%;
    }

    .contact-title {
        top: -32%;
        right: 3%;
    }
}

//BREAKPOINT - 768PX OR SMALLER
@media only screen and (max-width: 768px) {
    h2 {
        @include base-font(40);
    }

    h3 {
        @include base-font(110);
    }

    .about-title {
        top: -17%;
        left: 28%;
        transform: translateX(-50%);
    }

    .about-container {
        justify-content: center;
    }

    .about-intro-copy {
        width: 100%;
        padding: 10% 0 20% 0;
    }

    .work-section {
        padding: 10% 0;
    }

    .work-title {
        top: -5.5%;
        right: -20%;
        transform: translateX(-50%);
    }
 

 .project-container {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin: 5% 0;
    }

    .skills-section {
        padding: 5% 0;
    }
    .skills-title {
        top: -43%;
        left: 30%;
        transform: translateX(-50%);
    }

    i {
        @include base-font(40);
    }

    .skills-container li svg {
        width: 40px;
        height: 40px;
    }

    .contact-section {
        padding: 15% 0;
    }

    .contact-title {
        top: -7.5%;
        right: 3%;
    }

    .contact-wrapper {
        flex-direction: column;
    }

    .contact-section,
    .contact-pic {
        width: 100%;
    }

    .email-address {
        @include base-font(30);
    }

    .at {
        @include base-font(50);
    }

    







   
}

