article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, arial, sans-serif; }

.content-wrapper {
  max-width: 1280px;
  position: relative;
  width: 90%;
  margin: 0 auto; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #1A1A1D;
  font-family: Helvetica Neue, arial, sans-serif; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-size: 2rem;
  font-family: Helvetica Neue, arial, sans-serif;
  line-height: 1.6; }

i {
  font-size: 70px;
  font-size: 7rem;
  color: #1A1A1D; }

h1, h2, h3, h4 {
  margin: 0; }

h1 {
  font-family: Helvetica Neue, arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #1A1A1D;
  padding-bottom: 2%; }

h2 {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 45px;
  font-size: 4.5rem;
  color: #1A1A1D; }
  h2 .amp {
    font-size: 60px;
    font-size: 6rem;
    color: #950740; }

h3 {
  font-size: 160px;
  font-size: 16rem;
  text-align: center;
  color: #950740; }

h3.period::after {
  content: ".";
  font-family: "EB Garamond", serif; }

.project-title {
  color: #1A1A1D;
  font-size: 27px;
  font-size: 2.7rem;
  font-family: "EB Garamond", serif;
  text-align: center;
  padding: 5% 0;
  font-weight: lighter; }

.email-address {
  font-size: 36px;
  font-size: 3.6rem;
  font-family: "EB Garamond", serif;
  color: #C3073F; }

.at {
  font-size: 60px;
  font-size: 6rem;
  color: #4E4E50; }

.skills {
  font-size: 12px;
  font-size: 1.2rem;
  padding: 0 2%;
  text-align: center; }

.tagline {
  font-weight: bold; }

.menu-bar {
  position: fixed;
  z-index: 100; }

.menu {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 46px;
  width: 46px; }

.menu-circle {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1000; }

.menu:hover .menu-circle {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5); }

.menu.open .menu-circle {
  -webkit-transform: scale(60);
  -ms-transform: scale(60);
  transform: scale(60); }

.menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1002; }

.menu-icon {
  position: absolute;
  width: 20px;
  height: 14px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px; }

.menu-line {
  background-color: #C3073F;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.menu-line-1 {
  top: 0; }

.menu-line-2 {
  top: 0;
  bottom: 0;
  margin: auto; }

.menu-line-3 {
  bottom: 0; }

.menu.open .menu-line-1 {
  -webkit-transform: translateY(7px) translateY(-50%) rotate(-135deg);
  -ms-transform: translateY(7px) translateY(-50%) rotate(-135deg);
  transform: translateY(7px) translateY(-50%) rotate(-135deg); }

.menu.open .menu-line-2 {
  opacity: 0; }

.menu.open .menu-line-3 {
  -webkit-transform: translateY(-7px) translateY(50%) rotate(135deg);
  -ms-transform: translateY(-7px) translateY(50%) rotate(135deg);
  transform: translateY(-7px) translateY(50%) rotate(135deg); }

.menu-overlay {
  background-color: #fff;
  color: #333;
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  z-index: 1001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.menu-overlay.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0.03s;
  -o-transition-delay: 0.03s;
  transition-delay: 0.03s; }

.menu-overlay a {
  color: #333;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.8rem;
  padding: 2%;
  margin: 25% 1% 0;
  display: inline-block;
  font-family: Helvetica Neue, arial, sans-serif; }

.overlay-header {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 25%; }

.overlay-title {
  font-size: 20px;
  font-size: 2rem;
  padding-bottom: 2%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px; }

.menu-links {
  margin: auto 0; }

.menu-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  padding-bottom: 2%;
  width: 150px; }

.menu-links a:hover {
  color: #C3073F; }

.menu-links a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #C3073F;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.menu-links a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

header {
  height: 95vh;
  background: lightgray;
  position: relative; }
  header .hero-section {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center; }

.about-section {
  background: #FAFAFA; }

.about-title {
  position: absolute;
  top: -20.5%;
  left: 0; }

.about-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.about-intro-copy {
  width: 80%;
  padding: 8% 5% 16% 5%; }

.work-section {
  background: lightgray;
  padding: 10%; }

.work-title {
  position: absolute;
  top: -21%;
  right: 0; }

.row-1,
.row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.project-container {
  position: relative;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  width: 45%;
  background: #FAFAFA;
  margin: 6% 3%;
  padding: 2%;
  -webkit-box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }

.project-description {
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: 1.3px;
  height: auto; }

.skills-used {
  font-size: 16px;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #6F2232;
  text-align: center; }

.cta-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5% 0 3% 0; }

.link-button {
  background: #C3073F;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0 2%;
  padding: 3%;
  text-align: center; }

.link-button a {
  color: #FAFAFA;
  letter-spacing: 2px;
  position: relative;
  text-transform: uppercase; }

.link-button a:hover {
  color: #FAFAFA; }

.link-button a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #FAFAFA;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.link-button a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.skills-title {
  position: absolute;
  left: 0;
  top: -26%; }

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20% 0; }

.skills-container li svg {
  width: 70px;
  height: 70px; }

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative; }

.contact-section {
  background: lightgray;
  width: 55%;
  padding: 5% 5% 0 5%; }

.contact-text a,
.contact-text p {
  padding: 5% 5% 0 10%; }

.image-box {
  width: 45%; }

.contact-pic {
  display: block;
  min-height: 100%;
  min-width: 100%; }

.contact-title {
  position: absolute;
  top: -21%;
  right: 8%; }

.social-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.social-links ul li {
  padding: 10% 5%; }

.social-links i {
  font-size: 40px;
  font-size: 4rem;
  color: #1A1A1D; }

.footer-section {
  background: #950740;
  padding: 1% 0;
  color: #FAFAFA;
  text-align: center; }

p.footer-text {
  letter-spacing: 2.5px;
  font-family: "EB Garamond", serif; }

p.photo-credit {
  font-size: 12px;
  font-size: 1.2rem; }

@media only screen and (max-width: 1224px) {
  .about-title {
    top: -22%; }
  .work-title {
    top: -21.5%;
    right: -10%; }
  .skills-title {
    top: -30%; }
  .contact-title {
    top: -32%;
    right: 7%; } }

@media only screen and (max-width: 1024px) {
  .about-title {
    top: -22.5%; }
  .work-title {
    top: -7.5%;
    right: -5%; }
  .row-1,
  .row-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .project-container {
    width: 100%; }
  .link-button {
    padding: 3%; }
  .skills-title {
    top: -34%; }
  .contact-title {
    top: -32%;
    right: 3%; } }

@media only screen and (max-width: 930px) {
  h3 {
    font-size: 140px;
    font-size: 14rem; }
  .about-intro-copy {
    width: 100%;
    padding: 13%; }
  .about-title {
    top: -19%; }
  .work-title {
    top: -7%; }
  .skills-title {
    top: -32%; }
  .contact-title {
    top: -9.5%; }
  .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contact-section,
  .image-box {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 40px;
    font-size: 4rem; }
  h3 {
    font-size: 120px;
    font-size: 12rem; }
  .about-title {
    top: -17%;
    left: 28%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .about-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .about-intro-copy {
    width: 100%;
    padding: 10% 0 20% 0; }
  .work-section {
    padding: 10% 0; }
  .work-title {
    top: -6%;
    right: -1%; }
  .project-container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin: 5% 0; }
  .skills-section {
    padding: 5% 0; }
  .skills-title {
    top: -46%;
    left: 0; }
  i {
    font-size: 40px;
    font-size: 4rem; }
  .skills-container li svg {
    width: 40px;
    height: 40px; }
  .contact-section {
    padding: 15% 0; }
  .contact-title {
    top: -8%;
    right: 3%; }
  .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contact-section,
  .contact-pic {
    width: 100%; }
  .email-address {
    font-size: 30px;
    font-size: 3rem; }
  .at {
    font-size: 50px;
    font-size: 5rem; } }

@media only screen and (min-width: 768px) {
  .project-container::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 20px 40px -5px rgba(0, 0, 0, 0.8);
    box-shadow: 0 20px 40px -5px rgba(0, 0, 0, 0.8);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .project-container:hover {
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }
  .project-container:hover::after {
    opacity: 1; } }

@media only screen and (max-width: 662px) {
  h1 {
    font-size: 17px;
    font-size: 1.7rem; }
  h2 {
    font-size: 30px;
    font-size: 3rem; }
  span.amp {
    font-size: 40px;
    font-size: 4rem; }
  h3 {
    font-size: 110px;
    font-size: 11rem; }
  .about-title {
    top: -15%; }
  .work-title {
    top: -6%; }
  .skills-title {
    top: -49%; }
  .contact-title {
    top: -8.5%; } }

@media only screen and (max-width: 521px) {
  h2 {
    font-size: 27px;
    font-size: 2.7rem; }
  span.amp {
    font-size: 30px;
    font-size: 3rem; }
  h3 {
    font-size: 95px;
    font-size: 9.5rem; }
  .about-title {
    top: -13%;
    left: 35%; }
  .work-section {
    padding-bottom: 15%; }
  .work-title {
    top: -5.75%; }
  .skills-title {
    top: -50%; } }

@media only screen and (max-width: 441px) {
  h2 {
    font-size: 25px;
    font-size: 2.5rem; }
  span.amp {
    font-size: 28px;
    font-size: 2.8rem; }
  .about-title {
    top: -12%; }
  .work-title {
    top: -6%; }
  .skills-title {
    top: -14%; }
  .contact-title {
    top: -9.5%; }
  .skills-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0; }
  .skills-container li {
    padding: 12px 0; }
  i {
    font-size: 60px;
    font-size: 6rem; }
  .skills-container li svg {
    width: 60px;
    height: 60px; } }

@media only screen and (max-width: 375px) {
  .about-title {
    top: -10%;
    left: 32%; }
  .work-section {
    padding: 18% 0; }
  .work-title {
    right: -5%;
    top: -7.5%; }
  .skills-title {
    top: -13.5%;
    left: -4%; }
  .contact-title {
    top: -10.25%;
    right: 1%; } }

@media only screen and (max-width: 321px) {
  .content-wrapper {
    width: 95%; }
  p {
    font-size: 18px;
    font-size: 1.8rem; }
  header {
    height: 80vh; }
  h3 {
    font-size: 85px;
    font-size: 8.5rem; }
  .about-title {
    top: -10.5%; }
  .work-title {
    right: -2%;
    top: -5.75%; }
  .skills-title {
    left: -4%;
    top: -12.5%; }
  .contact-title {
    top: -10.5%; }
  .email-address {
    font-size: 26px;
    font-size: 2.6rem; }
  .at {
    font-size: 40px;
    font-size: 4rem; }
  .work-section {
    padding-bottom: 22%; }
  .link-button {
    padding: 3% 2%; } }
